<div class="container">
    <div class="row">
        <div class="col-md-3" ng-controller="registerController">
            <span>{{message}}</span><br>
            <form action="" ng-submit="submit()">
                <div class="form-group">
                    <input ng-model="user.username" type="text" name="user" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input ng-model="user.password" type="password" name="pass" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Regsiter</button>
            </form>
            <div>{{error}}</div>            
        </div>

    </div>
</div>